language: node_js
node_js:
  - "8"
  - "9"
  - "10"
  - "node"
git:
  depth: 5
addons:
  firefox: "latest"
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
before_install:
  - npm i -g npm@latest
  - npm i -g yarn
install:
  - yarn
script:
  - yarn run test
after_success: yarn run coveralls